###########
# Python
###########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/build/

# PyCharm
.idea/


###########
# Matlab
###########
*.asv
matlab/Estimated_*.mat
matlab/Ind_DCM_*.mat
OpenNFT_venv/Scripts/Activate.ps1
OpenNFT_venv/Scripts/activate.bat
OpenNFT_venv/Scripts/deactivate.bat
OpenNFT_venv/pyvenv.cfg
*.mat
/.vscode/launch.json
