PyQt5>=5.15.0
numpy>=1.26.3
pyqtgraph>0.13.0
PyNIExp>=0.27.2
watchdog>=3.0.0
loguru>=0.7.2
scipy>=1.12.0
python-rtspm>=0.2.0
nibabel>=5.2.0
pydicom>=2.4.4

opencv-python>=4.5.5.62 ; platform_system == 'Windows'
opencv-python==4.1.0.25 ; platform_system != 'Windows'
pywin32>=224 ; platform_system == 'Windows'
